@import url(base.css);
@mixin wh(){
	width: 100%;
	height: 100%;
}
@mixin op($ds){
	opacity:$ds;
	filer:alpha(opacity=$ds * 100);
}
@mixin between($first,$last, $type: false) {
  @if $type == true {
    &:nth-of-type(n + #{$first}):nth-of-type(-n + #{$last}){
      @content;
    }
  }
  @else {
    &:nth-child(n + #{$first}):nth-child(-n + #{$last}){
      @content;
    }
  }
}
// li{
//   @include between(2,5) {
//     background: #f36;
//   }
// }
@for $i from 1 through 3 { 
  .item-#{$i} { width: 2em * $i; } 
}